/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html{
  color: #666;
}

.headerLogo{
  margin: 40px 0;
}

.headerLogo .logo_img{
  margin-bottom: 10px;
}

.headerLogo .logo_content{
  display: block;
}

.headerLogo .logo_main{
  display: block;
  font-size: 70px;
  line-height: 55px;
}

.icon-block img{
  display: block;
  text-align: center;
  margin: 0 auto 20px auto;
}


.headerLogo .logo_bold{
  display: block;
  color: #5bc0c0;
  font-weight: 700;
}

.headerLogo .logo_light{
  display: block;
  font-weight: 300;
}

.headerLogo .logo_city{
  display: block;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 11px;
  line-height: 40px;
  padding-left: 12px;
}


nav ul a,
nav .brand-logo {
  color: #444;
}

nav .brand-logo {
  line-height: 0;
  height: 64px;
}

nav .brand-logo:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}


.logo_content{
  display: inline-block;
  vertical-align: middle;
  color: #999;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}


nav .brand-logo .logo_main{
  display: block;
  font-size: 35px;
  line-height: 30px;
}

nav .brand-logo .logo_bold{
  display: inline-block;
  color: #5bc0c0;
  font-weight: 700;
}

nav .brand-logo .logo_light{
  display: inline-block;
  font-weight: 300;
}
nav .brand-logo .logo_city{
  display: block;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 11px;
  line-height: 14px;
  padding-left: 12px;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
